/*
Paul Scott
26 March 2019

desktop stylesheet for convex hall website
 */
@media (min-width: 720px) {

  /* reset browser default */
  * {
    border: 0;
    margin: 0;
    padding: 0;
  }

  /* link style */
  a, a:visited {
    color: black;
    text-decoration: none;
  }

  /* hover link style */
  a:hover {
    color: grey;
    text-decoration: none;
  }

  /* website body */
  body {
    width: 100%;
    height: 100%;
    background: white;
    font-family: 'Roboto', Arial, sans-serif;
  }

  /* convex hull canvas */
  canvas {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    width: 80%;
    background: #9fadc4;
  }

  /* nav bar */
  nav {
    float: top;
    width: 100%;
    height: 4em;
    background: white;
    line-height: 4em;
  }

  /* nav bar links */
  nav a {
    float: right;
    margin-right: 1em;
    font-size: 24px;
    color: #333;
  }

  /* website logo */
  nav img {
    height: 4em;
    float: left;
  }

  /* code container */
  #code {
    background: #758db5;
    float: right;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
  }

  /* code font */
  #code pre {
    font-size: 16px;
    color: #082c68;
    margin: 2em;
  }

  /* website content */
  #content {
    display: block;
    width: 100%;
    height: calc(100vh - 4em);
    min-width: 80em;
  }

  /* convex hull container */
  #convex {
    position: relative;
    background: #9fadc4;
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }

  /* reset button */
  #reset {
    position: absolute;
    top: 2em;
    left: 3em;
    transform: translate(-50%, -50%);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    background: #6483b7;
    color: white;
    font-size: 20px;
  }
}