/*
Paul Scott
26 March 2019

mobile stylesheet for convex hall website
 */
@media (max-width: 720px) {

  /* reset browser default */
  * {
    border: 0;
    margin: 0;
    padding: 0;
  }

  /* link style */
  a, a:visited {
    color: #333;
    text-decoration: none;
  }

  /* hover link style */
  a:hover {
    color: grey;
    text-decoration: none;
  }

  /* website body */
  body {
    width: 100%;
    height: 100%;
    background: white;
    font-family: 'Roboto', Arial, sans-serif;
  }

  /* convex hull canvas */
  canvas {
    display: block;
    position: relative;
    margin: 4em auto 4em auto;
    width: 100%;
    height: 100%;
    background: #9fadc4;
  }

  /* nav bar */
  nav {
    display: block;
    width: 100%;
    height: 10em;
    background: white;
    text-align: center;
  }

  /* nav bar links */
  nav a {
    display: inline-block;
    font-size: 24px;
    color: #333;
    margin: 1em 0.5em 0 0.5em;
  }

  /* website logo */
  nav img {
    display: block;
    margin: 1em auto 0 auto;
    height: 5em;
  }

  /* code container */
  #code {
    display: block;
    background: #758db5;
    float: top;
    width: 100%;
    height: auto;
    overflow-x: scroll;
  }

  /* code font */
  #code pre {
    font-size: 16px;
    color: #082c68;
    margin: 2em;
  }

  /* convex hull container */
  #convex {
    display: block;
    position: relative;
    background: #9fadc4;
    width: 100%;
    overflow: hidden;
  }

  /* reset button */
  #reset {
    position: absolute;
    top: 2em;
    left: 3em;
    transform: translate(-50%, -50%);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    background: #6483b7;
    color: white;
    font-size: 20px;
  }
}