/*
Paul Scott
26 January 2019

mobile stylesheet for convex hall website
 */

@media(max-width: 720px) {

    /* hamburger menu button styling */
    .bar1, .bar2, .bar3 {
        z-index: 3;
        width: 2em;
        height: 0.3em;
        border-radius: 0.3em;
        margin: 0.3em 0;
        background: #00a3cc;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
        transition: 0.2s;
    }

    /* convex hull canvas */
    canvas {
        display: block;
        margin: auto;
        width: 23em;
        height: 23em;
        border-radius: 1em;
        background: #002b36;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    }

    /* hamburger menu button animation */
    .change .bar1 { transform: translate(-0.05em, 0.4em) rotate(-45deg) }
    .change .bar2 { opacity: 0 }
    .change .bar3 { transform: translate(-0.05em, -0.8em) rotate(45deg) }

    /* code block */
    #code {
        position: relative;
        box-sizing: border-box;
        padding: 2em;
        width: 100%;
        margin: 5em auto 2em auto;
        line-height: 1.5;
        background: #002b36;
        border-radius: 2em;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    }

    /* footer */
    #footer, #footer_alt { display: none }

    /* code block font size */
    .hljs { font-size: 16px }

    /* hamburger menu button */
    #menu_button {
        display: inline-block;
        z-index: 3;
        cursor: pointer;
        position: fixed;
        top: 0;
        left: 0;
        width: 2em;
        height: 2em;
        margin-top: 1em;
        margin-left: 1em;
    }

    /* reset button */
    #reset {
        display: none;
        margin: 0.5em auto auto auto;
        width: 18.4em;
        z-index: 2;
        padding: 0.5em;
        border-radius: 0.8em;
        background: #00a3cc;
        color: white;
        font-size: 20px;
    }

    /* slide menu */
    #slide_menu {
        position: fixed;
        z-index: 2;
        width: 16em;
        height: 100%;
        overflow-x: hidden;
        padding-top: 4em;
        text-align: left;
        line-height: 2;
        top: 0;
        left: -21em;
        background: white;
        transition: 0.2s;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.25);
    }

    /* links in slide menu */
    #slide_menu a {
        display: block;
        font-size: 30px;
        margin-left: 0.7em;
    }

    /* website title on index page */
    #title {
        font-size: 20px;
        font-weight: bold;
        padding: 1em;
        margin-top: 6em;
        color: #00a3cc;
        text-align: center;
    }
}